body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.draggable {
  -webkit-user-drag: auto !important;
  -khtml-user-drag: auto !important;
  -moz-user-drag: auto !important;
  -o-user-drag: auto !important;
  user-drag: auto !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hexaMain {
  display: flex;
  --s: 100px; /* size  */
  --m: 0px; /* margin */
  --f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px);
}

.hexaContainer {
  font-size: 0;
}

.hexaContainer > div {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s) * 1.1547);
  display: inline-block;
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: calc(var(--m) - var(--s) * 0.2885);
  background-image: url("../src/img/skills/baseHexa/hexagon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hexaContainer::before {
  content: "";
  width: calc(var(--s) / 2 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(
    #0000 0 calc(var(--f) - 3px),
    #000 0 var(--f)
  );
}

.connectionHighlight {
  background-color: rgb(37, 117, 155);
}

.requirementHighlight {
  background-color: rgb(160, 49, 49);
}

.hexaImgContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.hexaImgContainerBox {
  height: 100%;
  width: 100%;
  position: relative;
}

.hexaSkillActive {
  background-color: rgb(173, 158, 158);
}
